body{
    font-size: 20px;
}
.logosvg{
    background-image: url(./img/pattern.png);
    background-size: auto;
    background-color:rgb(37, 130, 237);
    
}
.immagini-alto img{
    display: inline;
    width: 48%;
    height: 400px;
}
.resize-logo{
    width: 300px;
    height: auto;
    padding-left: 10px;
}
main{
    padding-left: 10px;
}
h1{
    padding-right: 15%;
    font-size: 45px;
    margin-bottom: auto;
}
.trasparente{
    color: rgba(240, 255, 255, 0);
    padding-bottom: 40px;
}
.autore{
    color: rgb(51, 203, 249);
}
.container-1{
    color: rgba(0, 0, 0, 0.411);
}
.container-2{
    margin-top: 2px;
    font-size: 80%;
}
.calce{
    font-size: 60%;
}
.testo{
    margin-top: 25px;
    margin-bottom: 30px;
}
.posizione-ul{
    margin-left: -20px;
}
.parametri-tb{
    background-color: rgb(37, 130, 237);
    color: white;
    border-color:rgb(37, 130, 237) ;
}
table{
    margin-top: 35px;
    text-align: left;
    background-color: rgb(168, 203, 243);
    border-collapse: collapse;
    width: 100%;
}
th{
    width: 20%;
}
.riga2{
    background-color: white;
}

.immagine1{
    background-image: url(./img/monitor.jpg);
}
.immagine2{
    background-image: url(./img/graph.jpg);
}
.finale{
    height: 200px;
    width: 300px;
    margin-top:10px;
    color: white;
    padding: 10px;
    font-size: 30px;
}
.dati{
    width: 50%;
}
